.headerContainer
{
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 2rem 0;
}


.header
{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menuBtn
{
    min-width: 80px;
    width: 80px;
    height: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    span{
        display: block;
        height: 1px;
        width: 100%;
        position: relative;
        overflow: hidden;
        &::before,&::after
        {
            content: "";   
            position: absolute;
            height: 1px;
            background: black;
        }
    }

    span:first-child
    {
        &::before
        {
            left: 0;
            right: 0;
            transform-origin: left;
            transform:translateX(0);
            transition: transform .4s ease-in-out;
        }
        &::after
        {
            left: 200%;
            right: -300%;
            transform-origin: right;
            transform: translateX(0);
            transition: transform .4s ease-in-out;
        }
    }

    span:last-child
    {
        &::before
        {
            left: -300%;
            right: 200%;
            width: 100%;
            transform-origin: left;
            transform:translateX(0);
            transition: transform .4s ease-in-out;
        }
        &::after
        {
            width: 100%;
            left: 0;
            right: 0;
            transform-origin: right;
            transform: translateX(0);
            transition: transform .4s ease-in-out;
        }
    }

    &:hover
    {
        span:first-child
        {
            &::before
            {
                transform:translateX(-300%);
            }
            &::after
            {
                transform:translateX(-100%);
            }
            
        }
        span:last-child
        {
            &::before
            {
                transform:translateX(300%);
            }
            &::after
            {
                transform:translateX(100%);
            }
            
        }
    }

}