.headerContainer
{
    position: fixed;    
    z-index: 99;
    top: 0;
    width: 100%;
    padding: 1.5rem 0;
    opacity: 0;
    animation: Headerappear 1s 1s forwards;
    transform: translateY(100%);
    @keyframes Headerappear {
        from{
            opacity: 0;
            transform: translateY(100%);
        }to{
            opacity: 1;
            transform: translateY(0%);
        }
    }

    &.static
    {
        opacity: 1;
        transform: translateY(0%);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.135);
        animation: tostatic .3s forwards ;
        @keyframes tostatic {
            from{
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.135);
            }to{
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
            }
        }

    }

    &.scrollUp
    {
        opacity: 1;
        animation:scrollUp .7s forwards;
        @keyframes scrollUp {
            from{
                opacity: 1;
                background-color: rgba(255, 255, 255, 1);
                transform: translateY(0%);
            }to{
                background-color: rgba(255, 255, 255, 0);
                opacity: 1;
                transform: translateY(-100%);
            }
        }
    }

    &.scrollDown
    {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.135);
        animation:scrollDown .7s forwards;
        @keyframes scrollDown {
            from{
                background-color: rgba(255, 255, 255, 0);
                opacity: 1;
                transform: translateY(-100%);
            }to{
                background-color: rgba(255, 255, 255, 1);
                opacity: 1;
                transform: translateY(0%);
            }
        }
    }
}


.header
{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    div{
        transform: translateY(-18%);
        font-size: 1.3rem;
        position: relative;
        p{
            color: black;      
            font-weight: 600;
        }
    }
}

.menuBtn
{
    min-width: 40px;
    width: 40px;
    position: relative;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    span{
        position: absolute;
        display: block;
        height: 2px;
        width: 100%;
        position: relative;
        overflow: hidden;
        &::before,&::after
        {
            content: "";   
            position: absolute;
            height: 2px;
            background: black;
        }
    }

    span:first-child
    {
        position: absolute;
        top: 0px;
        &::before
        {
            left: 0;
            right: 0;
            transform-origin: left;
            transform:translateX(0);
            transition: transform .4s ease-in-out;
        }
        &::after
        {
            left: 200%;
            right: -300%;
            transform-origin: right;
            transform: translateX(0);
            transition: transform .4s ease-in-out;
        }
    }

    span:last-child
    {
        top: 1px;
        &::before
        {
            left: -300%;
            right: 200%;
            width: 100%;
            transform-origin: left;
            transform:translateX(0);
            transition: transform .4s ease-in-out;
        }
        &::after
        {
            width: 100%;
            left: 0;
            right: 0;
            transform-origin: right;
            transform: translateX(0);
            transition: transform .4s ease-in-out;
        }
    }

    &:hover
    {
        span:first-child
        {
            &::before
            {
                transform:translateX(-300%);
            }
            &::after
            {
                transform:translateX(-100%);
            }
            
        }
        span:last-child
        {
            &::before
            {
                transform:translateX(300%);
            }
            &::after
            {
                transform:translateX(100%);
            }
            
        }
    }

}