$menu-left:#E62B33;


.main
{
    position: absolute; 
    z-index: 0;
    transform: translateY(100vh);
    background: white;
    max-height: 100vh;

    @keyframes animateMain {
        from{
            transform: translateY(100vh);
        }to{
            transform: translateY(0);
        }
    }
    
    animation: animateMain 2s forwards cubic-bezier( 0.76, 0.03, 0.14, 1.01 );

    position: relative;

    &::-webkit-scrollbar
    {
        display: none;
    }
}   

.hero
{
    width: 100%;
    height: 100vh;
}


.contact_links
{
    position: absolute;
    top: 15vh;
    height: 50vh;
    width: 30px;
    left: 2rem;
    z-index: 1;
    li{
        margin-bottom: 1rem;
        cursor: pointer;
        &:hover
        {
            svg path{
                fill: $menu-left;
            }
        }
    }

    @media screen and(max-width:560px) {
        display: none;
    }
}

.Short_presentation
{
    position: absolute;
    z-index: 1;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    min-width: 350px;
    h1{
        transform: translateY(100%);
        opacity: 0;
        animation: animateP .7s 1s forwards;
        text-decoration: underline;
        font-size: clamp(1.2rem,3vw,1.5rem);
    }
    P{
        line-height: 1.3rem;
        margin: 1rem 0;
        transform: translateY(100%);
        opacity: 0;
        color: rgb(70, 70, 70);
        font-size: clamp(.9rem,2vw,1rem);
        &:first-of-type
        {
            animation: animateP .7s 1.2s forwards;
        }
        &:nth-of-type(2)
        {
            animation: animateP .7s 1.4s forwards;
        }
    }

    @media screen and(max-width:560px)
    {
        width: 90%;   
    }

    @keyframes animateP {
        from{
            transform: translateY(100%);
            opacity: 0;
        }to{
            transform: translateY(0%);
            opacity: 1;
        }
    }
}

.shortLinks
{
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    a:nth-of-type(1) li {&::before,&::after{content:"About"}}
    a:nth-of-type(2) li {&::before,&::after{content:"Skills"}}
    a:nth-of-type(3) li {&::before,&::after{content:"Projects"}}

    @media screen and(max-width:560px) {
        display: none;
    }

    li{
        margin-bottom: 1rem;
        font-size: 1rem;
        height: 1.2rem;
        overflow: hidden;
        width: 5rem;
        position: relative;
        &::before
        {
            position: absolute;
            top: -100%;
            right: 0;
            transition: transform .3s;
        }
        &::after
        {
            position: absolute;
            top: 0%;
            right: 0;
            transition: transform .3s;
        }

        &:hover
        {
            &::before{transform: translateY(100%);}
            &::after{transform: translateY(100%);}
        }
    }
}

.srollDown
{
    position: absolute;
    left: 2rem;
    bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 30px;
    border: 2px solid black;
    border-radius: 15px;
    span{
        height: 15px;
        width: 2px;
        background: black;
        display: block;
        position: relative;
        &::before
        {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: rotate(45deg) translate(-3px,2.5px);
            height: 8px;
            width: 8px;
            border-bottom: 2px solid black;
            border-right: 2px solid black;
        }

        animation: animateArrow 1.5s infinite;

        @keyframes animateArrow {
            from{
                opacity: 0;
                transform: translateY(-30%);
            }to{
                opacity: 1;
                transform: translateY(30%);
            }
        }
    }
}


.content{

    background: rgb(244, 244, 244);
    width: 100%;
}

.presentation   
{

    width: 80%;
    margin: auto;
    padding: 7rem 0;
    h1{
        text-align: center;
        text-decoration: underline;
        font-size: 2rem;
        margin: 3rem 0;
    }
    a{
        text-decoration: underline;
        color: rgb(35, 35, 35);
    }

    &__content
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__img{
            width: 30%;
            img{
                width: 100%;
                border-radius: 1rem;
                transform: translateY(50%);
                opacity: 0;
                box-shadow: 5px 5px 10px darkgray;
            }
            &.active
            {
                img{
                    animation: appear 1s forwards;
                }
                
            }
        }
        &__text
        {
            width: 60%;
            color: rgb(82, 82, 82);
            font-size: 1.2rem;
            line-height: 1.7rem;
            transform: translateY(50%);
            opacity: 0;
            &.active
            {
                animation: appear 1s forwards;
            }
        }

        @media screen and(max-width:800px) {
            flex-direction: column;
            &__text
            {
                width: 100%;
                margin-top: 2rem;
                font-size: clamp(1rem,3vw,1.2rem);
            }
        }
    }


    @keyframes appear {
        from{
            transform: translateY(50%);
            opacity: 0;
        }to{
            transform: translateY(0%);
            opacity: 1;
        }
    }
    
}

.skills
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        text-align: center;
        text-decoration: underline;
        font-size: 2rem;
        margin: 3rem auto;
    }

    p{
        width: 80%;
        font-size: 1.1rem;
        line-height: 2rem;
    }

    section{
        width: 80%;
        margin: 2rem 0;
    }

    ul{
        display: flex;
        opacity: 0;
        transform: translateY(50%);
        flex-wrap: wrap;
        &.active
        {
            animation: animateUl .4s forwards;
            @keyframes animateUl {
                from{
                    opacity: 0;
                    transform: translateY(50%);
                }to{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
        li{
            font-size: 1.2rem;
            margin: .5rem 1rem .5rem 0;
            padding: .8rem 1.5rem;
            display: flex;
            align-items: center;
            background: white;
            color: #4A4A4A;
            box-shadow: 0 0 5px rgba(169, 169, 169, 0.309);
            img{
                display: block;
                height: 30px;
                width: auto;
                margin: 0 .5rem 0 0;
            }
        }
    }
}