$menu-left:#E62B33;

.main
{
    position: absolute;
    z-index: 0;
    transform: translateY(100vh);
    background: white;
    min-height: 100vh;
    @keyframes animateMain {
        from{
            transform: translateY(100vh);
        }to{
            transform: translateY(0);
        }
    }
    
    animation: animateMain 2s forwards cubic-bezier( 0.76, 0.03, 0.14, 1.01 );

    position: relative;

}

.hero
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}


.contact_links
{
    position: absolute;
    top: 15vh;
    height: 50vh;
    width: 30px;
    left: 2rem;
    z-index: 1;
    li{
        margin-bottom: 1rem;
        cursor: pointer;
        &:hover
        {
            svg path{
                fill: $menu-left;
            }
        }
    }

    @media screen and(max-width:560px) {
        display: none;
    }
}

.presentation
{
    position: absolute;
    z-index: 2;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    min-width: 350px;
    h1{
        transform: translateY(100%);
        opacity: 0;
        animation: animateP .7s 1s forwards;
        text-decoration: underline;
    }
    P{
        line-height: 1.3rem;
        margin: 1rem 0;
        transform: translateY(100%);
        opacity: 0;
        color: rgb(70, 70, 70);
        &:first-of-type
        {
            animation: animateP .7s 1.2s forwards;
        }
        &:nth-of-type(2)
        {
            animation: animateP .7s 1.4s forwards;
        }
    }

    @media screen and(max-width:560px)
    {
        width: 90%;   
    }

    @keyframes animateP {
        from{
            transform: translateY(100%);
            opacity: 0;
        }to{
            transform: translateY(0%);
            opacity: 1;
        }
    }
}