.projects
{
    img{
        width: 30px;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-height: 100vh;
    &__container
    {
        width: 80%;
        height: 100%;
        max-width: 1200px;
        margin: auto;
        &>h1{
            margin-bottom:6rem;
            text-align: center;
            font-size: 2rem;
        }
    }
}

.caroussel_container
{
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:950px) {
        flex-direction: column;
        flex-flow: column-reverse;
        align-items: center;
        .text_container,.images_container
        {
            width: 90%;
        }
        .text_container
        {
            margin: 3rem 0;
        }
    }

    @media screen and (max-width:600px)
    {
        .text_container,.images_container
        {
            width: 100%;
        }
    }
}

.text_container
{
    width: 40%;
    height: 400px;
    position: relative;
    .caroussel_text
    {
        position: absolute;
        inset: 0;
        overflow: hidden;
    }

    ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: transform .3s;
        li{
            width: 100%;
            min-width: 100%;
            h1{
                font-size: 1.7rem;
                font-weight: 400;
                color: rgb(52, 52, 52);
            }
            h3{
                font-size: 1.7rem;
                font-weight: 400;
                margin: .5rem 0;
            }
            p{
                margin: 1.5rem 0;
                font-size: 1.2rem;
                color: rgb(65, 65, 65);
                line-height: 1.7rem;
            }
            .links
            {
                display: inline-flex;
                a{
                    display: flex;
                    p{
                        font-size: 1.5rem;
                        color: #e62b33;
                    }
                    &:last-of-type
                    {
                        margin-left: 1.5rem;
                    }

                    position: relative;
                    &::before
                    {
                        content: "";
                        position: absolute;
                        height: 2px;
                        left: 0;
                        width: 100%;
                        background: #e62b33;
                        bottom: 15px;
                        transform: scaleX(0);
                        transition: transform .3s;
                        transform-origin: left;
                    }

                    &:hover
                    {
                        &::before
                        {
                            transform: scaleX(1);
                        }   
                    }
                }
            }
        }
    }
}

.images_container
{
    position: relative;
    width: 55%;
    height: 360px;
    background: rgb(225, 225, 225);
    box-shadow: 0 5px 20px rgba(78, 78, 78, 0.577) ;
    button{
        width: 50px;
        height: 50px;
        background: black;
        border: none;
        outline: none;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        &.btnPrev{
            left: -25px;
            img{
                display: block;
                animation: animatePrev 2s infinite;
            }
        }
        &.btnNext{
            right: -25px;
            img{
                display: block;
                animation: animateNext 2s infinite;
            }
        }
        cursor: pointer;


        @keyframes animateNext {
            0%{
                transform: translateX(0);
            }50%{
                transform: translateX(5px);
            }100%{
                transform: translateX(0);
            }
        }
        @keyframes animatePrev {
            0%{
                transform: translateX(0);
            }50%{
                transform: translateX(-5px);
            }100%{
                transform: translateX(0);
            }
        }
    }

    .images_caroussel
    {
        position: absolute;
        z-index: 0;
        inset: 0;
        overflow: hidden;
        ul{
            height: 100%;
            width: 100%;
            display: flex;
            transition: transform .3s;
            li{
                width: 100%;
                min-width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                img{
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}